In [ ]:
import pandas as pd

1. csv 폴더에서 tran_1, tran_2을 로드 
2. tran_1, tran_2의 데이터 테이블의 형태는 같은 형태임으로 단순한 행 결합을 이용하여 데이터프레임을 결합
3. tran_d_1, tran_d_2 파일을 로드 
4. 같은 데이터의 형태임으로 단순한 행 결합을 이용하여 데이터프레임을 생성 
5. 2번과정과 4번과정에서 합쳐진 데이터프레임을 특정한 조건에 맞춰서 열을 결합하여 데이터프레임을 생성

In [ ]:
# tran_1, tran_2 파일을 로드 
tran_1 = pd.read_csv("../csv/tran_1.csv")
tran_2 = pd.read_csv("../csv/tran_2.csv")

In [ ]:
tran_1.head(1)

In [ ]:
tran_2.head(1)

In [6]:
## tran_1, tran_2 단순한 행 결합
tran = pd.concat([tran_1, tran_2], axis=0, ignore_index=True)

In [7]:
#tran_d_1, tran_d_2 로드 
tran_d_1 = pd.read_csv("../csv/tran_d_1.csv")
tran_d_2 = pd.read_csv("../csv/tran_d_2.csv")

In [8]:
tran_d_1.head(1)

   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1

In [9]:
tran_d_2.head(1)

   detail_id transaction_id item_id  quantity
0       5000    T0000004870    S002         3

In [11]:
## tran_d_1, tran_d_2 단순한 행 결합 
tran_d = pd.concat([tran_d_1, tran_d_2], axis=0, ignore_index=True)