In [ ]:
import pandas as pd

In [ ]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage.head()

In [ ]:
## 결측치 확인 
uriage.info()

In [ ]:
uriage.isna().sum()

1. purchase_date를 시계열데이터로 변경
2. item_name의 데이터의 공백 제거 
3. item_name의 데이터를 모두 대문자로 변경
4. item_name을 기준으로 오름차순 정렬
5. 인덱스를 초기화(기존의 인덱스는 삭제)

In [ ]:
uriage['purchase_date'] = pd.to_datetime(
    uriage['purchase_date'],
    format = '%Y-%m-%d %H:%M')

In [ ]:
uriage.info()

In [ ]:
uriage_2 = uriage.copy()

In [ ]:
## item_name의 데이터의 공백을 모두 제거 

## case1
uriage['item_name'].str.upper()

In [ ]:

## case2
# apply() + 일반 함수 
# apply() : 스리즈 형태의 데이터를 항목 하나하나 씩 함수에 대입하여 출력 값을 스리즈의 형태로 변경하여 출력

# 일반 함수 생성
def change(x):
    # x의 데이터의 형태는? -> 문자열
    result = x.upper()
    return result

uriage['item_name'].apply(change)

In [ ]:
## case3
# apply() + lambda함수
uriage['item_name'] = uriage['item_name'].apply(lambda x : x.upper())

In [ ]:
uriage.head()

In [ ]:
## 공백 제거 
a = "  Hello  World  "

In [ ]:
a.strip()

In [ ]:
a.replace(" ", "")

In [ ]:
## item_name의 문자열 사이의 공백을 제거 

# case1
uriage['item_name'].str.replace(" ", "")

In [ ]:
# case2
def change(x):
    result = x.replace(" ", "")
    return result

uriage['item_name'].apply(change)

In [ ]:
# case3
uriage['item_name'] = uriage['item_name'].apply(lambda x : x.replace(" ", ""))

In [ ]:
uriage.head()

In [ ]:
uriage['item_name'].value_counts()

In [ ]:
uriage['item_name'].unique()

In [ ]:
uriage_2['item_name'].unique()

In [ ]:
# item_name 데이터를 대문자로 변경하고 공백을 모두 제거 

# case1
uriage_2['item_name'].str.replace(" ", "").str.upper()
# uriage_2['item_name'].str.replace(" ", "")

In [ ]:
# case2
# apply() + 일반함수

def change(x):
    result = x.upper().replace(" ", "")
    # result = result.replace(" ", "")

    return result

uriage_2['item_name'].apply(change)

In [ ]:
# case3
# apply() + lambda
uriage_2['item_name'].apply(lambda x : x.upper().replace(" ", ""))

In [ ]:
## item_name을 기준으로 오름차순 정렬
# uriage = uriage.sort_values('item_name')
# inpalce는 기준이 되는 데이터를 변경
# ignore_index는 인덱스를 초기화
uriage.sort_values('item_name', inplace=True, ignore_index=True)

In [ ]:
# 인덱스를 초기화 기존의 인덱스 삭제
# uriage = uriage.reset_index(drop=True)
uriage.reset_index(drop=True, inplace = True)

1. 결측치의 데이터를 치환
    - 상품A의 item_price의 값의 평균을 상품A중 결측치인 값에 치환
    - 나머지의 상품들도 같은 방법으로 치환

In [ ]:
## 상품의 이름이 상품A 인 데이터만 추출
## 필터링

# case1
fig = uriage['item_name'] == '상품A' 
uriage.loc[fig]

In [ ]:
# case2
uriage.query("item_name == '상품A'")

In [ ]:
# case3
uriage.groupby('item_name').get_group('상품A')

In [ ]:
## 상품A인 경우의 item_price의 평균값?
uriage.loc[fig, 'item_price'].mean()

In [ ]:
# item_name이 상품A이고 item_price가 결측치인 데이터에 
# 상품A인 경우 item_price의 평균값을 대체

# item_name이 상품A(fig)이고 item_price가 결측치인(fig2) 데이터 추출

fig2 = uriage['item_price'].isna()

uriage.loc[fig & fig2]

In [ ]:
fig2

In [ ]:
# 상품A이고 item_price가 결측치가 아닌 데이터 추출
a_place = uriage.loc[fig & ~fig2, 'item_price'].mean()

In [ ]:
uriage.loc[fig & fig2].fillna(a_place)

In [ ]:
## 조건식
# item_name을 기준으로 데이터 필터
fig = uriage['item_name'] == '상품A'
# item_price가 결측치인 데이터 필터
fig2 = uriage['item_price'].isna()

# item_name이 상품A이고 item_price가 결측치가 아닌 데이터 필터
# item_price의 평균 
a_place = uriage.loc[fig & ~fig2, 'item_price'].mean()

# item_name이 상품A이고 item_price가 결측치인 데이터 필터
# a_price의 값으로 결측치를 대체
uriage.loc[fig & fig2].fillna(a_place)

In [70]:
name_list = uriage['item_name'].unique()

In [69]:
uriage['item_name'].value_counts().index

Index(['상품S', '상품A', '상품R', '상품P', '상품V', '상품C', '상품F', '상품D', '상품Q', '상품O',
       '상품W', '상품N', '상품T', '상품J', '상품X', '상품I', '상품M', '상품B', '상품L', '상품G',
       '상품K', '상품H', '상품U', '상품E', '상품Y', '상품Z'],
      dtype='object', name='item_name')

In [73]:
for name in name_list:
    fig  = uriage['item_name'] == name
    fig2 = uriage['item_price'].isna()
    mean_price = uriage.loc[fig & ~fig2, 'item_price'].mean()
    
    uriage.loc[fig & fig2] = uriage.loc[fig & fig2].fillna(mean_price)
    # uriage.loc[fig & fig2, 'item_price'] = mean_price

In [ ]:
uriage.isna().sum()

In [ ]:
uriage.loc[uriage['item_name']=='상품B']

In [81]:
fig = uriage_2['item_name'] == '상품A'
fig2 = uriage_2['item_price'].isna()
uriage_2.loc[fig & fig2, 'item_price'] = 100

In [82]:
uriage_2.loc[fig]

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
9    2019-01-28 10:47:00       상품A       100.0           김태윤
14   2019-06-11 12:57:00       상품A       100.0           김재호
35   2019-01-12 03:26:00       상품A       100.0           김건희
61   2019-02-11 17:00:00       상품A       100.0           김성윤
...                  ...       ...         ...           ...
2875 2019-06-03 17:33:00       상품A       100.0           김서진
2886 2019-04-25 17:15:00       상품A       100.0           김강현
2897 2019-05-20 14:05:00       상품A       100.0           김지안
2951 2019-05-06 02:24:00       상품A       100.0           김주혁
2973 2019-07-13 21:38:00       상품A       100.0           김태윤

[133 rows x 4 columns]