In [1]:
# pandas 라이브러리 로드 
# import 라이브러리명 as 별칭
import pandas as pd

In [2]:
# 스리즈 형태의 데이터를 생성 ( 1차원 데이터 )
pd_series = pd.Series(
    [5000, 6000, 6500, 6500],
    index = ['아메리카노', '카페라떼', '카페모카', '카푸치노']
)

print(pd_series)

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [3]:
# 스리즈 형태의 데이터에서 index의 값과 values값은 따로 출력이 가능
print('스리즈 형태의 데이터에서 index의 값은', pd_series.index)
print('스리즈 형태의 데이터에서 value의 값은', pd_series.values)

스리즈 형태의 데이터에서 index의 값은 Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')
스리즈 형태의 데이터에서 value의 값은 [5000 6000 6500 6500]

In [4]:
# 데이터프레임 생성 ( 2차원 데이터 )
_value = [[1,2,3], [4,5,6], [7,8,9]]        # 2차원 배열
_index = ['a', 'b', 'c']
_column = ['A', 'B', 'C']

df = pd.DataFrame(_value, index = _index, columns= _column)

print(df)

   A  B  C
a  1  2  3
b  4  5  6
c  7  8  9

In [5]:
# 데이터프레임의 index, column, value 값을 따로 출력
print('데이터프레임의 index', df.index)
print('데이터프레임의 column', df.columns)
print('데이터프레임의 value', df.values)

데이터프레임의 index Index(['a', 'b', 'c'], dtype='object')
데이터프레임의 column Index(['A', 'B', 'C'], dtype='object')
데이터프레임의 value [[1 2 3]
 [4 5 6]
 [7 8 9]]

In [6]:
# 딕셔너리 형태의 데이터를 가지고 데이터프레임을 생성
_value = {
    'name' : ['test', 'test2', 'test3'], 
    'age' : [20, 30, 40], 
    'phone' : ['01012345678', '01098765432', '01011112222']
}

print(_value)

{'name': ['test', 'test2', 'test3'], 'age': [20, 30, 40], 'phone': ['01012345678', '01098765432', '01011112222']}

In [8]:
# test2라는 value의 값만 출력하려면?
print(_value['name'][1])

test2

In [9]:
# _value를 가지고 데이터프레임 생성
df2 = pd.DataFrame(_value)
print(df2)

    name  age        phone
0   test   20  01012345678
1  test2   30  01098765432
2  test3   40  01011112222

In [10]:
# DB에서 데이터를 로드 하는 경우 데이터의 형태
# [{}, {}, {}, {}, ....]

_value = [
    {
        'name' : 'test', 
        'age' : 20, 
        'phone' : '01012345678'
    }, 
    {
        'name' : 'test2', 
        'age' : 30, 
        'phone' : '01098765432'
    }, 
    {
        'name' : 'test3', 
        'age' : 40, 
        'phone' : '01011112222'
    }
]
print(_value)

[{'name': 'test', 'age': 20, 'phone': '01012345678'}, {'name': 'test2', 'age': 30, 'phone': '01098765432'}, {'name': 'test3', 'age': 40, 'phone': '01011112222'}]

In [11]:
df3 = pd.DataFrame(_value)
print(df3)

    name  age        phone
0   test   20  01012345678
1  test2   30  01098765432
2  test3   40  01011112222

In [12]:
# 하나의 컬럼의 데이터만 확인
print(df3['name'])

0     test
1    test2
2    test3
Name: name, dtype: object

In [13]:
print(df3.name)

0     test
1    test2
2    test3
Name: name, dtype: object

In [18]:
# 컬럼의 이름을 변경 
df3.columns = ['name', 1, 'ph one']
print(df3)

    name   1       ph one
0   test  20  01012345678
1  test2  30  01098765432
2  test3  40  01011112222

In [17]:
print(df3[1])

0    20
1    30
2    40
Name: 1, dtype: int64

In [21]:
print(df3['ph one'])

0    01012345678
1    01098765432
2    01011112222
Name: ph one, dtype: object