# 연습문제
1. csv폴더 안에 있는 drinks.csv 파일 로드 
2. 데이터프레임의 정보를 출력
3. 컬럼별 결측치의 개수를 확인
4. continent 컬럼에 결측치가 존재 -> 결측치를 'OT' 문자열로 대체
5. 컬럼명 변경 = ['국가', '맥주 소비량', '위스키 소비량', '와인 소비량', '리터당 알콜 농도', '대륙']
6. 대륙을 기준으로 그룹화한 뒤 위스키 소비량의 평균 값을 출력

In [1]:
import pandas as pd

In [2]:
# drinks.csv 파일 로드 
drinks = pd.read_csv('../csv/drinks.csv')
drinks.head(2)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU

In [3]:
df = drinks.copy()

In [4]:
# 데이터프레임의 정보 출력
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       193 non-null    object
 1   beer_servings                 193 non-null    int64
 2   spirit_servings               193 non-null    int64
 3   wine_servings                 193 non-null    int64
 4   total_litres_of_pure_alcohol  193 non-null    float64
 5   continent                     170 non-null    object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.2+ KB

In [5]:
# 컬럼별 결측치의 수를 출력
df.isna().sum()

country                          0
beer_servings                    0
spirit_servings                  0
wine_servings                    0
total_litres_of_pure_alcohol     0
continent                       23
dtype: int64

In [6]:
# continent 컬럼의 결측치를 'OT' 대체
df['continent'] = df['continent'].fillna('OT')

In [7]:
# 컬럼의 이름을 변경
df.columns = ['국가', '맥주 소비량', '위스키 소비량', '와인 소비량', '리터당 알콜 농도', '대륙']
df.head(1)

            국가  맥주 소비량  위스키 소비량  와인 소비량  리터당 알콜 농도  대륙
0  Afghanistan       0        0       0        0.0  AS

In [8]:
# 대륙별 위스키의 평균량 출력
df[['대륙', '위스키 소비량']].groupby('대륙').mean()

       위스키 소비량
대륙
AF   16.339623
AS   60.840909
EU  132.555556
OC   58.437500
OT  165.739130
SA  114.750000

In [9]:
# 대륙별 위스키 소비량의 평균, 최소, 최대, 합계를 출력
group_data = df[['대륙', '위스키 소비량']].groupby('대륙').agg(['mean', 'min', 'max', 'sum'])

In [10]:
dict = {
    '위스키 소비량' : {
        'mean' : 10, 
        'min' : 0, 
        'max' : 50, 
        'sum' : 100
    }
}

In [11]:
print(dict['위스키 소비량']['max'])

50

In [14]:
group_data['위스키 소비량']['mean']

대륙
AF     16.339623
AS     60.840909
EU    132.555556
OC     58.437500
OT    165.739130
SA    114.750000
Name: mean, dtype: float64